
header {
    background-image: url("Tokyo.jpg");
    text-align: center;
    color: white;
}

.lien {
    margin-right: 8px;
    text-align: right;
}

.li{
    display: inline;
    text-align: right;
}

a {
color: white;
}

.Title {
    color: Blue;
    margin-left: 60px;
}

p{
    margin-left: 50px;
}

.H2{
    border: 2px white solid;
}
.s1{
    float: left;
}
.s2{
    float: right;
}
.img1{
    background-image: url("Tokyo.jpg");
    margin-right: 25px;
}
.img2{
    background-image: url("Tokyo.jpg");
    margin-right: 25px;
}
.img3{
    background-image: url("Tokyo.jpg");
    margin-right: 25px;
}
.img4{
    background-image: url("camera-retro-solid");
    
}
.img5{
    background-image: url("Tokyo.jpg");
    
}
.img6{
    background-image: url("Tokyo.jpg");
    
}