
header {
    background-image: url("Tokyo.jpg");
    text-align: center;
    color: white;
}

.lien {
    margin-right: 8px;
    text-align: right;
}

.li{
    display: inline;
    text-align: right;
}

a {
color: white;
}

.Title {
    color: Blue;
    margin-left: 60px;
}

p{
    margin-left: 50px;
}

.H2{
    border: 2px white solid;
}
.s1{
    float: left;
}
.s2{
    float: right;
}
.img1{
    background-image: url("Tokyo.jpg");
    margin-right: 25px;
    position: relative;
}
.img2{
    background-image: url("Tokyo.jpg");
    margin-right: 25px;
    position: relative;
}
.img3{
    background-image: url("Tokyo.jpg");
    margin-right: 25px;
    position: relative;
}

.img4{
    background-image: url("camera-retro-solid.svg");
    
    position: relative;
}
.img5{
    background-image: url("Tokyo.jpg");
    position: relative;
    
}
.img6{
    background-image: url("Tokyo.jpg");
    position: relative;
    
}
.imgd{
    float: left;
}

.fa-paper-plane{
    float: left;
    margin-left: 95px;
}

.fa-share-alt-square{
    float: right;
    font-size: 210px;
}